@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    color: #000;
}

.header,
.navigationHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #fff;
    box-shadow: 0.2px 0.2px 5px;
    height: 5em;
    justify-content: space-between;
    padding: 0 10%;
}

.logoHeader{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

.logoHeader a{
    text-decoration: none;
    color: #000;
}

.navigationHeader{
    gap: 3em;
    z-index: 2;
}

.navigationHeader a{
    text-decoration: none;
    color: #000;
    transition: 1s;
    font-weight: bold;
}

.active{
    background-color: #f8f5f5;
    padding: 10px;
    border-radius: 10px;
}

.content{
    text-align: center;
    padding-top: 5em;
    height: 100%;
    transition: 1s;
}

.btn_icon_header{
    display: none;
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .btn_icon_header{
        display: block;
    }
    .navigationHeader{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #e8e8e8;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        box-shadow: 0.1px 0.1px 10px;
    }
}

@keyframes showSidebar{
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}